<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tavisca.Services.Profiling.Properties.Settings.dProfilerLogsConnectionString"
            connectionString="Data Source=.;Initial Catalog=dProfilerLogs;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="debug.storage" value="Tavisca.Services.Profiling.SqlServerProfilerStorage, Tavisca.Services.Profiling"/>
    <add key="debug.enabled.global" value="true"/>
  </appSettings>
</configuration>