<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="testprofilierdbConnectionString" 
          connectionString="Data Source=.;Initial Catalog=testprofilierdb;Integrated Security=True"
          providerName="System.Data.SqlClient" />
    <add name="dProfilerLogsConnectionString"
          connectionString="Data Source=.;Initial Catalog=dProfilerLogs;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="soapProfilerExtBehavior" type="Tavisca.Services.Profiling.SoapProfilerBehavior, Tavisca.Services.Profiling" />
      </behaviorExtensions>
    </extensions>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <!--<add relativeAddress="Books.svc" service="Books.Server.BooksService" />-->
        <add relativeAddress="Profile.svc" service="Tavisca.Services.Profiling.ProfileService"/>
      </serviceActivations>
    </serviceHostingEnvironment>

   <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
          <behavior name="soapProfilerBehavior">
            <soapProfilerExtBehavior />
          </behavior>
      </endpointBehaviors>
    </behaviors>

    <services>
      <service name="Books.Server.BooksService">
        <endpoint  address="" binding="basicHttpBinding"  contract="Books.Server.IBooks" behaviorConfiguration="soapProfilerBehavior"  />
        <endpoint kind="mexEndpoint" address="mex" />
      </service>
      <service name="Tavisca.Services.Profiling.ProfileService">
        <endpoint kind="webHttpEndpoint" contract="Tavisca.Services.Profiling.IProfile" />
        <endpoint kind="mexEndpoint" address="mex" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>
    <add key="debug.storage" value="Tavisca.Services.Profiling.SqlServerProfilerStorage, Tavisca.Services.Profiling"/>
    <add key="debug.enabled.global" value="true"/>
  </appSettings>
</configuration>
